* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

.portal {
  width: 27%;
  left: 37%;
  right: 35%;
  top: 37%;
  mix-blend-mode: normal;
  position: fixed;
}

.botao-portal {
  position: fixed;
  left: 47%;
  top: 65%;
  background: #02883A;
  border-radius: 10px;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
}

.botao-portal:hover{
  background-color:#8BFF5D;
  color: #ffffff;
}

.botao-portal:visited{
  color: #ffffff;
}
