* {
  padding: 0%;
  margin: 0%;
}
 body {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
<<<<<<< HEAD
=======
  background-position: center;
>>>>>>> c6eb514ac3294524d15c43929b350481ac017c0e
 }


.portal {
    width: 27%;
    left: 37%;
    right: 35%;
    top: 37%;
    bottom: 10.74%;
    mix-blend-mode: normal;
    position: fixed;
}

.botao-portal {
  position: fixed;
    left: 47%;
    top: 65%;
    background: transparent;
    border-radius: 10px;
  font-family: monospace;


}

.botao-portal:hover{
  background-color: chartreuse;
  color: aliceblue;
}
