body {
  background-image: url(../style/images/background-personagens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.imagem-rick-and-morty {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-busca {
  display: flex;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
padding: 0.5%;
}

.esquerda {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.menu-busca1 {
  display: flex;
justify-content: flex-end;
}

.navegar {
  padding: 10% 3% 10% 10%;
  text-align: center;
  font-size: 30px;
  color:rgb(139, 255, 93);
  font-family: monospace;
}

.navegar:hover {
  color: rgb(155, 213, 233);
}

.pesquisa {
  width: 18vw;
  height: 6vh;
  margin: 1%;
  border-radius: 0.5em;
  display: inline-flex;
  font-family: Verdana, Tahoma, sans-serif;
}

.filtro {
  width: 10vw;
  height: 6vh;
  margin: 1%;
  background-color: #22A2BD;
  border-radius: 1em;
  display: inline-block;
  font-weight: bold;
  border:#9BD5E9 solid 3px;
  font-family: Verdana, Tahoma, sans-serif;
}

.bnt-limpar {
  width: 10vw;
  height: 6vh;
  margin: 1%;
  background-color: #22A2BD;
  border-radius: 1em;
  font-weight: bold;
  border:#9BD5E9 solid 3px;
  font-family: Verdana, Tahoma, sans-serif;
}

/* CARDS */
.cards {
  font-family: Verdana, Tahoma, sans-serif;
  display: inline-flex;
  padding: 2% 0.1% 2% 0.1%;

}

/* FRENTE E VERSO CARDS */
.frente-card, .verso-card {
  width: 16vw;
  height: 45vh;
  padding-top: 2%;
  background-color: #22A2BD;
  border-radius: 1em;
  text-align: center;
}

/* IMAGEM DOS CARDS */
.img-card {
  width: 13vw;
  border: solid 5px #56C32A;
  border-radius: 2em;
  text-align: center;
}

.hidden {
  display: none;
}
