body {
  background-image: url(./images/dimension2.jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.menu{
  display: inline-block;
  position: relative;
    width:940px;
    margin: 0 auto;
    background-color:azure;
    border-radius: 10px;
}
