
 body {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
.portal {
    width: 27%;
    left: 37%;
    right: 35%;
    top: 37%;
    mix-blend-mode: normal;
    position: fixed;
}
.botao-portal {
  position: fixed;
    left: 47%;
    top: 65%;
    background: transparent;
    border-radius: 10px;
  font-family: monospace;
  text-align: center;
}

.botao-portal:hover{
  background-color: chartreuse;
  color: aliceblue;
}
