body {
  background-image: url(./images/dimension_Gazorpazorp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.menu {
  position: relative;
  width: 100%;;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url(../style/images/galaxy.jpg);
}
.navegar {
  padding: 10% 3% 10% 10%;
  text-align: center;
  font-size: 30px;
  color:rgb(139, 255, 93);
  font-family: monospace;
}

.navegar:hover {
  color: rgb(155, 213, 233);
}
