* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

/* BOTÃO VOLTAR PARA O TOPO */
.botao-topo{
  position: fixed;
  bottom: 2%;
  right: 0.5%;
  background: none;
  border: none;
  cursor: pointer;
}

/* MENU PRINCIPAL */
.menu {
  position: relative;
  width: 98%;
  margin:auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu ul{
  text-align: center;
}

.navegar {
  padding:0 5%;
  text-align: center;
  font-size: 30px;
  color:#8BFF5D;
  font-family: monospace;
}

.navegar:hover {
  color: #9BD5E9;
}

/* LOGO RICK AND MORTY*/
.logo-rick-and-morty {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* RODAPÉ */
.rodape{
  width: 98%;
  margin:auto;
  padding: 0.5%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.texto-rodape{
  text-align: center;
  color:#8BFF5D;
  font-size: 1em;
  font-weight: bold;
}

.texto-rodape a:visited{
  color:#8BFF5D;
}
